acl corpnets { 192.168.42.0/24; 192.168.43.0/24; 172.17.0.0/16; };

options {
        directory "/var/lib/bind";
        allow-query { corpnets; };


         forwarders {
              0.0.0.0;
              1.1.1.1;
              8.8.8.8;
              9.9.9.9;
              9.9.9.10;
         };


        dnssec-validation no;

        listen-on-v6 { any; };
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
